* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    /* display: grid; */
    /* grid-template-columns: repeat(12, 1fr); */
}
header {
    background-image: url("./images/img/bkg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;
}
main {
    max-width: calc((100% / 12) * 10);
    margin: 0 auto;
}
img {
    max-width: 100%;
}
section {
    display: flex;
}
article {
    /* display: block;
    float: left;
    position: relative; */
    padding: 15px;
}
h1,
p {
    margin: 10px 0px;
}

.article1 {
    width: 50%;
    width: calc((100% / 12) * 5);
}
.article2 {
    width: calc(100% / 3);
}
.article3 {
    width: calc(100% / 4);
}
.formulaire {
    background-image: url("./images/img/bkg-form.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;
    width: 1200px;
}
.main-footer {
    background: red;
    padding: 1.1875rem;
    flex-flow: row wrap;
    height: 300px;
}

li {
    text-decoration: none;
}

.main-footer a {
    border-left: 1em solid #ededed;
    color: #ededed;
    padding-left: 0.75em;
    text-decoration: none;
}

.main-footer a:hover {
    border-color: #333;
    color: #333;
}

@media screen and (max-width: 1080px) {
    .articles-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-flow: row wrap;
    }
}
